body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f5f7fa;
}
.container{
  max-width:420px;
  margin:60px auto;
  background:#fff;
  padding:25px;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
  text-align:center;
}
h1{color:#ff0050}
input{
  width:100%;
  padding:12px;
  margin:15px 0;
  border-radius:8px;
  border:1px solid #ccc;
}
button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#ff0050;
  color:#fff;
  cursor:pointer;
}
.download-btn{
  display:block;
  margin-top:10px;
  padding:10px;
  background:#25d366;
  color:#fff;
  text-decoration:none;
  border-radius:8px;
}